{% extends "blog/base.html" %}
{% block content %}
<div>
  <div class="heading-title">
    <legend class="border-bottom mb-4">Available Foods</legend>
    <p class="lead mt-3"></p>
  </div>

  <div class="row">
    {% for post in posts %}
    <div class="col-sm-6">
      <a href="{% url 'post-detail' post.id %}">
        <div class="card my-3 shadow p-3 mb-5 bg-white rounded">
          <!-- {% if post.image_of_food  %}
          <img class="img-fluid rounded" src="{{ post.image_of_food.url }}">
          {% endif %} -->
          <div class="card-body">
            <h4 class="card-title">{{ post.title}}</h4>
            <legend class="border-bottom mb-4"></legend>
            <h5 class="card-text">{{ post.address}}</h5>
            <p class="mt-2"><small class="text-muted">{{ post.date_posted|date:"F d, Y" }}
                {{ post.expire_time|time:"H:i A" }}</small></p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<!-- <div class="row">

  {% for post in posts %}
  <div class="col-sm-6">
    <article class="media content-section shadow p-3 mb-5 bg-white rounded">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted ml-2">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.venue }}</a></h2>
        <h6 class="article-content">{{ post.city }}-{{ post.pincode }}</h6>
      </div>
    </article>
  </div>

  {% endfor %}
  {% if is_paginated %}

  {% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

  {% endif %}
</div> -->

<br><br><br><br><br><br>
<br><br><br>
<br><br><br><br><br><br>
<br>
{% endblock content %}